<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="idseui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="idseui.Perspective"
            id="IDSEUI.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="idseui.ViewSearchResult"
            id="idse.ui.view.ViewSearchResult"
            name="搜索结果"
            restorable="true">
      </view>
      <view
            class="idseui.ViewFileReader"
            id="idse.ui.view.ViewFileReader"
            name="文件信息"
            restorable="true">
      </view>
      <view
            class="idseui.ViewSetting"
            id="idse.ui.view.ViewSetting"
            name="配置"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="idseui.ViewConsole"
            label="Output">
      </consoleFactory>
   </extension>

</plugin>
