<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="idseui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="idseui.Perspective"
            id="IDSEUI.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="idseui.ViewSearchResult"
            id="idse.ui.view.ViewSearchResult"
            name="搜索结果"
            restorable="true">
      </view>
      <view
            class="idseui.ViewFileReader"
            id="idse.ui.view.ViewFileReader"
            name="文件信息"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="idseui.ViewConsole"
            label="Output">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="idseui.action.IndexToolItemHandler"
            id="IDSEUI.command.index"
            name="索引">
      </command>
      <command
            defaultHandler="idseui.action.SettingIndexToolItemHandler"
            id="IDSEUI.command.setting"
            name="配置">
      </command>
      <command
            defaultHandler="idseui.action.SettingIndexToolItemHandler"
            id="IDSEUI.command.setting.index"
            name="配置索引参数">
      </command>
      <command
            defaultHandler="idseui.action.SettingKnowledgeToolItemHandler"
            id="IDSEUI.command.setting.knowledge"
            name="配置知识挖掘参数">
      </command>
      <command
            defaultHandler="idseui.action.SettingResultToolItemHandler"
            id="IDSEUI.command.setting.result"
            name="配置搜索结果参数">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="IDSEUI.toolbar2">
            <command
                  commandId="IDSEUI.command.index"
                  icon="icons/run_exc.gif"
                  label="创建索引"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="IDSEUI.toolbar3">
            <command
                  commandId="IDSEUI.command.setting"
                  icon="icons/setting16.png"
                  label="配置"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:IDSEUI.command.setting">
         <command
               commandId="IDSEUI.command.setting.index"
               label="配置索引参数"
               style="push">
         </command>
         <command
               commandId="IDSEUI.command.setting.knowledge"
               label="配置知识挖掘参数"
               style="push">
         </command>
         <command
               commandId="IDSEUI.command.setting.result"
               label="配置搜索结果参数"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
